$color__white: #FFFFFF;
$color__grey: #747885;
$color__black: #000000;
$color__red: #ff0000;
$color__red--dark: #8d1515;
$color__blue--button: #2c4068;
$color__blue--filter: #353b4d;
$fontFamily__LatoRegular: 'Lato';
$fontFamily__LatoBold: 'Lato-Bold';
$fontFamily__LatoLight: 'Lato-Light';
$fontFamily__Marvel: 'Marvel';
$screen__minDesktopSize: '769px';
$screen__maxMobileSize: '768px';